In [3]:
# print 0 to 20 by using range

for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
# print range 10 to 20

for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [14]:
# Print number of items in the list by using 'len'

list=[10, 20, 14, 55, 43, 87, 76]
print(list)
print("Number of item in the List2:") 
print(len(list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [17]:
#Artificial Intelligence

word="Artificial Intelligence"
for letter in word:
    print(letter)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [3]:
#Your name - Your Age - Your Profession

input("-Your name-")
input("-Your Age-")
input("-Your Profession-")
print()

-Your name- sathish
-Your Age- 37
-Your Profession- media

In [6]:
# Print this mixed data type using Tuples

tuple = (1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [14]:
# tuple1 + tuple2

tuple1 = ("(0, 1, 2, 3)")
tuple2 = (" ('python', 'HOPE')")
print(tuple1+tuple2)

(0, 1, 2, 3) ('python', 'HOPE')

In [22]:
# print Odd Numbers in the list

numbers = [20, 10, 16, 19, 25, 1, 276, 188]

for num in numbers:
    if num % 2 != 0:
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [27]:
# print Even Numbers in the list

numbers = [20, 10, 16, 19, 25, 1, 276, 188]

for num in numbers:
    if num % 2 == 0:
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even